#page-admin-report-filetrash-index .filetrashdetails {
    position: relative;
    top: -18px;
    left: 22px;
}

#page-admin-report-filetrash-index span.bold.trashheader {
    float: left;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    font-family: courier, monospace;
}